{{title}}
[<a routerLink="/" routerLinkActive="active">Accueil</a>]
[<a routerLink="/people/page/1" routerLinkActive="active">Peoples</a>]
[<a routerLink="/films/page/1" routerLinkActive="active">Films</a>]
[<a routerLink="/planets/page/1" routerLinkActive="active">Planets</a>]
[<a routerLink="/species/page/1" routerLinkActive="active">Species</a>]
[<a routerLink="/vehicules/page/1" routerLinkActive="active">Vehicules</a>]
[<a routerLink="/starships/page/1" routerLinkActive="active">Starchips</a>]
<hr>
<router-outlet></router-outlet>