<div *ngIf="results" style="display: inline-flex;">
    <div style="padding:20px; background-color: rgb(239, 220, 255);">
        <p><span style="font-size: 22px;">{{results.title}}</span><span style="font-size: 14px;"> (by {{results.director}})</span></p>
        <p style="width:350px; text-align: justify;">{{results.opening_crawl}}</p>
        <p style="font-size: 12px;">release : {{results.release_date | date}}</p>
        <p style="font-size: 12px;">producer : {{results.producer}}</p>
        <!-- affichage des boutons si on est dans la page des films -->
        <div *ngIf="directory">
            <p><button (click)=toggleDisplayDivVaisseaux()>Vaisseaux concernés [+]</button></p>
            <p><button>Espèces concernés [+]</button></p>
        </div>
    </div>


    <div style="margin-left:20px">
        <div *ngIf="!isShowDivVaisseaux">
            <div *ngFor="let starship of results.starships">
                <app-starships-details [data]="starship"></app-starships-details>
            </div>
        </div>
    </div>
</div>